## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
n = 4
print(n)

4

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(n)

int

4) Crear una variable que contenga tu nombre

In [7]:
nom = "Rodrigo Fernandez"
print(nom)

Rodrigo Fernandez

5) Crear una variable que contenga un número complejo

In [8]:
numero_Complejo = 4 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(numero_Complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [4]:
import math

print(round(math.pi,4))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
true_Uno = "True"
true_Dos = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print("Variable uno es", type(true_Uno), "Variable dos es", type(true_Dos))

Variable uno es <class 'str'> Variable dos es <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma = 5 + 8.1
print(suma)

13.1

11) Realizar una operación de suma de números complejos

In [17]:
numComUno = 5 + 4j
numComDos = 3 + 6j
suma_Compleja = numComUno + numComDos
print(suma_Compleja)

(8+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
numReal = 6
numComp = 4 + 7j
sumaDos = numReal + numComp
print(sumaDos)

(10+7j)

13) Realizar una operación de multiplicación

In [21]:
mult = 4 * 2
print(mult)

8

14) Mostrar el resultado de elevar 2 a la octava potencia

In [1]:
p = 2**8
print(p)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [2]:
div = 27 / 4
print(div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [3]:
import math

div_Integer = math.floor(div)

print(div_Integer)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [4]:
div_modulus = 27 % 4
print(div_modulus)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [5]:
suma_div = (4 * div_Integer) + div_modulus
print(suma_div)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [7]:
goat_Uno = "CR7"
goat_Dos = "LM10"

goats = goat_Uno + goat_Dos

print(goats)

CR7LM10

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [8]:
num = 2
string = "2"

string == num

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [10]:
string = int(string)

string == num

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [11]:
a = "3,8"

a = float(a)

print(a)

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [16]:
varTres = 3

varTres -= 1

print(varTres)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [17]:
print(1<<2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [18]:
op = 2 + "2"
print(op)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [19]:
motor = "VROOOM"
print(motor * 3)

VROOOMVROOOMVROOOM